
GameJamOfLudumdare/UserSettings/EditorUserSettings.asset
GameJamOfLudumdare/UserSettings/EditorUserSettings.asset
GameJamOfLudumdare/Boxophobic.SkyboxCubemapExtended.Editor.csproj
GameJamOfLudumdare/Boxophobic.Utils.Editor.csproj
GameJamOfLudumdare/Boxophobic.Utils.Scripts.csproj
GameJamOfLudumdare/Logs/AssetImportWorker0-prev.log
GameJamOfLudumdare/Logs/AssetImportWorker0.log
GameJamOfLudumdare/Logs/AssetImportWorker1-prev.log
GameJamOfLudumdare/Logs/AssetImportWorker1.log
GameJamOfLudumdare/Logs/shadercompiler-AssetImportWorker0.log
GameJamOfLudumdare/Logs/shadercompiler-UnityShaderCompiler.exe0.log
